body{
    background-color: #000000d5;
}

.title{
    display: flex;
    position: absolute;
    font-size: 80px;
    padding: 0 37%;
    color: white;
}

.title::before{
    content: '';
    position: absolute;
    transform: translate(-60px, 24px);
    display: block;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid aliceblue
}

.title::after{
    content: '';
    transform: translate(14px, 27px);
    display: block;
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
    border: 1px solid aliceblue
}